body {
    margin: 0px;
    font-family: arial;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    padding: 0px 15px;
}

#header {
    background-color: #232F3E;
    padding: 10px 0px;
}
#header .logo {
    width: 12%;
    margin-right: 40px;
}
#header .logo img {
    width: 100%;
}


#header .search {
    width: 55%;
    margin-right: 20px;
    position: relative;
}
#header .search input[type="text"]{
    width: 97%;
    height: 30px;
}
#header .search input[type="submit"] {
    height: 35px;
    width: 46px;
    right: 13px;
    position: absolute;
    border: 1px solid #F3A847;
    background: #F3A847 url("../images/sprite_1.png") no-repeat 1px -284px;
}

#header .header-top-right {
    width: 28%;
}
#header .header-top-right img {
    width: 100%;
}

#header .header-bottom ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#header .header-bottom ul li{
    font-size: 14px;
    float: left;
    margin: 0px 10px;
}
#header .header-bottom ul li a, #header .category a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#header .header-bottom small {
    color: #ccc;
    font-weight: normal;
}

#header .category {
    width: 15%;
}
#header .amazon_links {
    width: 50%;
    padding-top: 10px;
}
#header .amazon_links ul li a {
    font-weight: normal;
    color: #ccc;
}
#header .user_section {
    width: 24%;
}
#header .user_section span {
    color: orange;
}
