ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    display: inline-block;
    margin: 0px 10px;
    background-color: #ffc838;
    width: 10%;
    padding: 10px;
    text-align: center;
    position: relative;
}

.dropdown {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 37px;
    display: none;
    background-color: #99adef;
}
.dropdown li {
    display: block;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}


ul li:hover .dropdown {
    display: block;
}